@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}
body{
    font-family: /*Arial, sans-serif;*/'Noto Sans SC', sans-serif;
    margin: 0;
    padding: 0;
}
#freeda{
    position: relative;
    width: 5rem;

}
/* .bg-light{
    background-image: linear-gradient(to right,#b30000,#e68a00,#e6e600,#009900,#009999,#004d99,#5200cc) !important;
    opacity: 1;
} */

.navbar-image{
    position: relative;
    height: 2rem;
    margin-right: 5rem;
}

.nav-link{
    color: rgb(rgb(43, 108, 182), green, blue) !important;
}

.carousel-caption{
    margin:0 auto;
    background:#333333;
    opacity:0.6;
    width: 300px;
    height: 130px;
}

.dropdown-item > img{
    width: 3rem;
}

.home-contact{
    display: inline-block;
    position: sticky;
    top: 2rem;
    
}

.home-contact-2{
    display: inline-block;
    position: sticky;
    top: 2rem;
    
}

/* brand presentation */
.brand_presentation{
    position: relative;
    margin: 0 auto;
    background: #e6e6e6;
    opacity: 1;
    width: 400px;
    height: 400px;
 }

 .brand-logo-big{
     position: relative;
     margin: 10% 25px;
     width: 350px;
 }

 .bp-button{
     margin-bottom: 3rem;
 }
  
 .contact-us h3{
     border-bottom: rgb(0, 118, 207);
     border-style: none none solid none;
 }

 .cs{
     margin-top: 3rem !important;
     margin-bottom: 3rem !important;
 }

 .list-group-item{
     font-size: .9rem;
 }

 .company-presentation img{
     position: relative;
     height: 3rem;
 }

 #main-footer{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}
 

  /* brand presentation */
.tier1{
    font-weight: 700;
    color: rgb(0, 118, 207);
    
}

.tier2{
    margin-top: 20px;
    margin-left: 100px;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 2;
}
  .greysection{
      background: rgb(243, 243, 244);
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
  }

  .whitesection{
      background: rgb(255, 255, 255);
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
  }

 .brand-logo-mid{
     width: 300px;
    position: relative;
    margin-bottom: 40px;
 }

 /*@font-face{
     font-family: 'Font Awesome 5 Free';
     font-weight: 900;
 }*/

 .space{
     margin-left: 1rem;
 }

 .wechat{
     position: relative;
     width: 4rem;

 }



 .contact-contact{
     margin: 5rem auto;
 }
